body {
	font: 30px/30px Tahoma, Arial, sans-serif;
	color: #000;
	background: #fff;
}

/* -------------MAIN STYLES----------------------- */
a {text-decoration: none;}

ol, ul {list-style: none;}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

.left {float: left;}
.right {float: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}